name: CI/CD Pipeline

on:
  # push:
  #   branches:
  #     - cicd
  # pull_request:
  #   branches:
  #     - cicd
  workflow_dispatch:
  
permissions:
  contents: read   # This is required for actions/checkout
  security-events: write
  
jobs:
  sonarqube:
    name: SonarQube Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # - name: SonarQube scan
    #   run: sonar-scanner

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: sonarqube

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:${{ github.sha }} .

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:${{ github.sha }}'
        format: 'sarif'
        output: 'trivy-results.sarif'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Upload Trivy results as artifact
      uses: actions/upload-artifact@v3
      with:
        name: trivy-results
        path: trivy-results.sarif

    - name: Test Docker image
      id: test
      run: |
        docker run -d -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:${{ github.sha }}
        sleep 10
        curl -f http://localhost:80 || (docker logs $(docker ps -lq) && exit 1)

    - name: Push Docker image
      if: success()
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:${{ github.sha }}

   
