name: CI/CD Pipeline

on:
  # push:
  #   branches:
  #     - cicd
  # pull_request:
  #   branches:
  #     - cicd
  workflow_dispatch:
  
jobs:
  sonarqube:
    name: SonarQube Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # - name: SonarQube scan
    #   run: sonar-scanner

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: sonarqube

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to DockerHub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:v1.0 .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:v1.0

    - name: Test Docker image
      run: |
        docker run -d -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-hello-world:v1.0
        sleep 10
        curl -f http://localhost:80 || (docker logs $(docker ps -lq) && exit 1)
